<footer class="footer">
  <div class="footer-links">
    <%= link_to t("pages.terms.title"), terms_path %>
    <%= link_to t("pages.privacy.title"), privacy_path %>
    <%= link_to t("pages.contact.title"), contact_path %>
  </div>
</footer>
